{% extends 'layouts/layout.html' %}        

{% block title %}
    {{title}}
{% endblock %}

{% block content %}
    <h1>Register</h1>

        {% comment %} 
        {{register_form.errors}}
        {% endcomment %}


    <div class="col-md-4 p-4 border rounded">
        <form method="post" action="">
            {% csrf_token %}

            {% for field in register_form %}
            <div class="form-floating mb-3">
                {{field}}
                <label for="{{field.label}}">{{field.label}}</label>

                {% if field.errors %}
                <div class="alert alert-danger p-1">
                    {{field.errors}}
                </div>
                {% endif %}

            </div>
            {% endfor %}

            <input class="btn btn-primary mt-3" type="submit" value="Register" />
        </form>
    </div>

{% endblock %}
